/** {zoom: 1.0;}*/

/* Line above causes bullets of <ul> list to disappear */

div#menu_area ul {
  margin: 1em 5px 1em 3px;
}
input#searchtxt {
  font-size: 9pt;
}
input#gsearchtxt {
  font-size: 9pt;
}
hr {
   margin-top: 0;
   margin-bottom: 0;
}
