#!/bin/bash

trap "terminate 1" SIGINT
trap "terminate 0" SIGKILL SIGTERM

dir=$(pwd $0)
echo $dir

if [[ -z "$NGINXPATH" ]] ; then
    if [ -x /usr/local/sbin/nginx ] ; then
	NGINXPATH=/usr/local/sbin/nginx
    else
	NGINXPATH=nginx
    fi
fi

terminate() {
    if [ $1 -eq 1 ]; then
        bash $dir/STOP.nginx
    fi
    echo Interrupted >&2
    exit
}

mkdir -p $dir/nginx/run $dir/nginx/logs $dir/preview_cache

sudo $NGINXPATH -p $dir/nginx -c $dir/nginx/nginx.conf

if [ "$(which netbin64)" != "" ]; then
    netbin64 $dir/wiki/run_scgi_wiki.tcl -writer 0 &
    netbin64 $dir/wiki/run_scgi_wiki.tcl -writer 1 &
elif [ "$(which netbin)" != "" ]; then
    netbin $dir/wiki/run_scgi_wiki.tcl -writer 0 &
    netbin $dir/wiki/run_scgi_wiki.tcl -writer 1 &
elif [ "$(which tclsh)" != "" ]; then
    tclsh $dir/wiki/run_scgi_wiki.tcl -writer 0 &
    tclsh $dir/wiki/run_scgi_wiki.tcl -writer 1 &
elif [ "$(which tclkit)" != "" ]; then
    tclkit $dir/wiki/run_scgi_wiki.tcl -writer 0 &
    tclkit $dir/wiki/run_scgi_wiki.tcl -writer 1 &
else
    echo "can't find a Tcl interpreter" >&2
    exit
fi
